<ion-view view-title="BilbioApp" hide-back-button="false">
    <div class="bar bar-subheader">
		<h2 class="title">Ajuda</h2>
	</div>
	<ion-content class="has-subheader">
		<div style="padding: 10px">
			<p>
				&nbsp;&nbsp;&nbsp;&nbsp;As credencias a serem informadas na área de identificação devem ser IDÊNTICAS as impressas no cartão de sócio dafornecido pela biblioteca no ato do cadastro.
			</p>
			<p>	
				&nbsp;&nbsp;&nbsp;&nbsp;Qualquer dúvida entrar em contato com a biblioteca a qual se filiou.
			</p>
		</div>
    </ion-content>
</ion-view>