<div class="modal">
	<ion-header-bar class="bar bar-header bar-positive">
		<h1 class="title">Avaliar</h1>
		<button class="button button-clear button-primary" ng-click="closeModal(2)"><b>X</b>&nbsp;</button>
	</ion-header-bar>
	<ion-content has-header="true">
		<form>
		  <div class="item range range-positive">
			<i class="icon ion-sad"></i>
			<input type="range" name="volume" id="avaliacao" min="1" max="5" value="nota" ng-model="avaliacao.nota">
			<i class="icon ion-happy"></i>
		  </div>
		  <div class="item range widget uib_w_1 d-margins" data-uib="ionic/range" data-ver="0">
    		<input type="range" max="100" value="50" step="1">
		</div>
		  <label class="item item-input item-stacked-label">
			<span class="input-label">Comentário</span>
			<input type="text" placeholder="O que achou deste livro?" ng-model="avaliacao.comment"><br />
		  </label>
		  <input class="button button-block button-positive" ng-click="avaliar(avaliacao)" type="submit" id="submit" value="Avaliar" />
		 </form>
	</ion-content>
</div>