<div class="modal">
	<ion-header-bar class="bar bar-header bar-positive">
		<h1 class="title">Nova Reserva</h1>
		<button class="button button-clear button-primary" ng-click="closeModal(1)"><b>X</b>&nbsp;</button>
	</ion-header-bar>
	<ion-content has-header="true">
		<div class="padding">

				<div class="list list-inset">
                      <label class="item item-input">
                        <i class="icon ion-search placeholder-icon"></i>
                        <input type="text" ng-model="query" placeholder="Pesquisar">
                      </label>
                  </div>
				<ion-list>
                    <div class="card">
                      <div class="item item-divider">Livros</div>
                      <ion-item class="item-button-right" ng-repeat="livros in livro | filter: query" item="livro" ng-click="insertReserva(livros); closeModal(1)">
						{{ livros.titulo }}
                        <h2>{{livros.autor}}</h2>
						<h3>{{livros.labelregistro}}</h3>
						  <span  ng-if="livros.disponibilidade == 0" >
  								Indisponível
						  </span>
						  <span  ng-if="livros.disponibilidade == 1" >
  								Disponível
						  </span>
                      </ion-item>
                    </div>
                 </ion-list>				
		</div>
	</ion-content>
</div>
