<ion-view view-title="Identificação" hide-back-button="true">
    <ion-content>
		<div class="loginImg">
			
		</div>
        <form>
            <ion-list>
				<br />
                <label class="item item-input"> 
                    <span class="input-label">Usuário</span>
                    <input ng-model="user.name" type="text" required />
                </label>
                <label class="item item-input">
                    <span class="input-label">Matrícula</span>
                    <input ng-model="user.pass" type="password" required />
                </label>
            </ion-list>
            <button class="button button-positive button-block" ng-click="login(user)">Entrar</button>
            <a class="button button-positive button-clear button-block " href="#/ajuda">Não Consigo Entrar</a>
        </form>
    </ion-content>
</ion-view>