<ion-view view-title="BilbioApp" hide-back-button="false">
    <div class="bar bar-subheader">
		<h2 class="title">Sobre</h2>
	</div>
	<ion-content class="has-subheader">
		<div style="padding: 10px">
			<p>
				&nbsp;&nbsp;&nbsp;&nbsp;BiblioApp Foi desenvolvido com o intuito de apoiar as bibliotecas que utilizam o sistema BIBLIVRE no gerenciamento dos seus leitores e auxiliar os seus leitores na interação com a biblioteca e os demais usuários.
			</p>
			<p>	
				&nbsp;&nbsp;&nbsp;&nbsp;O Trabalho foi desenvolvido para o trabalho de conclusão de curso da Pontificia Universidade Católica de Minas Gerais no curso de Sistemas de Informação.
			</p>
			<p>
				&nbsp;&nbsp;&nbsp;&nbsp;A aplicação possui código aberto e licença gratuita para todos os interessados em utilizar ou modificar a aplicação para interesse próprio.
			</p>
			<p>
				&nbsp;&nbsp;&nbsp;&nbsp;O código está disponibilizado em: https://github.com/weldermarcosxd/Ionic-Sliding-Test/.
			</p>
			<p>
				&nbsp;&nbsp;&nbsp;&nbsp;Qualquer dúvida contactar o autor em : weldermarcosxd@gmail.com.
			</p>
		</div>
    </ion-content>
</ion-view>