<ion-view view-title="BiblioApp" hide-back-button="true">
	<ion-nav-buttons side="secondary">
		<button 
				class="button button-icon ion-navicon" ng-click="popover.show($event)">
        </button>
	</ion-nav-buttons>
    <ion-content has-header="true" class="has-tabs-top">
		
		<ion-refresher
					pulling-text="Solte para atualizar..."
					on-refresh="doRefresh()">
		</ion-refresher>
		
        <ion-slide-box id="box" show-pager='false' on-slide-changed="slideChanged(index)">


            <!--Primeiro Slide de Reservas -->
            <ion-slide>
				
                <button class="button button-block button-positive" ng-click="openModal(1)">
                    Cadastrar Reserva
                </button>
                <ion-list show-delete="true">
                    <div class="card">
                      <div class="item item-divider">Reservas</div>
						  <ion-item class="item-button-right item-text-wrap" ng-repeat="item in data" item="item">
							  	<ion-delete-button class="ion-minus-circled" ng-if="item.userid == reg" ng-click="deleteRes(item.userid)"></ion-delete-button>
							{{ item.titulo | limitTo: 100}}
							<h2>{{item.leitor}}</h2>
						  </ion-item>
                      </div>
                  </ion-list>
            </ion-slide>


            <!--Segundo Slide = Destaques -->
            <ion-slide>
                  <!-- Campo de Busca -->
                  <div class="list list-inset">
                      <label class="item item-input">
                        <i class="icon ion-search placeholder-icon"></i>
                        <input type="text" ng-model="query" placeholder="Pesquisar">
                      </label>
                  </div>

                  <!-- Lista de Destaques -->
                  <ion-list>
                    <div class="card">
                      <div class="item item-divider">Destaques</div>
                      <ion-item class="item-button-right item-text-wrap" ng-repeat="des in des | filter: query" item="des" ng-click="onSelectDes(des)">
						  {{ des.titulo}}
                        <h2>{{des.autor}}</h2>
                      </ion-item>
                    </div>
                 </ion-list>
            </ion-slide>


            <!--Terceiro Slide = Historico -->
            <ion-slide>
               <!-- Campo de Busca -->
               <div class="list list-inset">
                  <label class="item item-input">
                     <i class="icon ion-search placeholder-icon"></i>
                     <input type="search" ng-model="query" placeholder="Pesquisar">
                  </label>
               </div>

               <!--Lista de livros ja locados -->
               <ion-list>
                    <div class="card">
                      <div class="item item-divider">Historico<span class="item-note"></span></div>
                      <ion-item class="item-button-right item-text-wrap" ng-repeat="his in his | filter: query" item="item" ng-click="onSelectLivro(his)">
						  	{{ his.titulo}}
							<h2>Autor: {{his.autor}}</h2>
                      </ion-item>
                  </div>
               </ion-list>
            </ion-slide>

        </ion-slide-box>

    </ion-content>
</ion-view>
